In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv", header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9
0,'40-49','premeno','15-19','0-2','yes','3','right','left_up','no','recurrence-events'
1,'50-59','ge40','15-19','0-2','no','1','right','central','no','no-recurrence-events'
2,'50-59','ge40','35-39','0-2','no','2','left','left_low','no','recurrence-events'
3,'40-49','premeno','35-39','0-2','yes','3','right','left_low','yes','no-recurrence-events'
4,'40-49','premeno','30-34','3-5','yes','2','left','right_up','no','recurrence-events'

In [4]:
df.describe()

,0,1,2,3,4,5,6,7,8,9
count,286,286,286,286,278,286,286,285,286,286
unique,6,3,11,7,2,3,2,5,2,2
top,'50-59','premeno','30-34','0-2','no','2','left','left_low','no','no-recurrence-events'
freq,96,150,60,213,222,130,152,110,218,201

In [26]:
def load_data(filename):
    df = pd.read_csv(filename, header = None)
    data = df.values
    X,y = data[:,:-1], data[:,-1]
    X = X.astype(str)
    return X,y

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 1)
print('Train:', X_train.shape, y_train.shape)
print('Test:', X_test.shape, y_test.shape)

Train: (191, 9) (191,)
Test: (95, 9) (95,)

In [23]:
def prepare_inputs (X_train, X_test):
    oe = OrdinalEncoder()
    oe.fit(X_train)
    X_train_trans = oe.transform(X_train)
    X_test_trans = oe.transform(X_test)
    return X_train_trans, X_test_trans

def prepare_targets (y_train, y_test):
    le = LabelEncoder()
    le.fit(y_train)
    y_train_trans = le.transform(y_train)
    y_test_trans = le.transform(y_test)
    return y_train_trans, y_test_trans

In [24]:
X_train_trans, X_test_trans = prepare_inputs(X_train, X_test)
y_train_trans, y_test_trans = prepare_targets(y_train, y_test)

In [27]:
X, y = load_data('https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv')

In [28]:
X_train_trans, X_test_trans = prepare_inputs(X_train, X_test)
y_train_trans, y_test_trans = prepare_targets(y_train, y_test)

print ('Train:', X_train_trans.shape, y_train_trans.shape)
print ('Test:', X_test_trans.shape, y_test_trans.shape)

Train: (191, 9) (191,)
Test: (95, 9) (95,)